@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #130e01;
  --background: #ffffff;
}

body {
  background-color: var(--background);
}

input {
  @apply rounded-md outline-none pl-4 pr-8 px-64 py-2;
}

select {
  @apply rounded-full outline-none px-[23px] h-[40px] w-[110px]  mx-2 text-xs sm:text-base sm:w-[194px];
}

h1 {
  @apply text-4xl;
}

button {
  @apply rounded-md px-4 py-2 bg-white;
}

h3 {
  @apply flex text-[18px] text-center text-sm flex-wrap;
}

p {
  @apply rounded-xl bg-zinc-500 px-2 text-xs;
}