@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;600&display=swap');


:root {
  --text: #130e01;
  --background: #ffffff;
}

body {
  font-family: var(--font-poppins);
}

#second {
  @apply bg-[url('/assets/PNGS/fundo-lista.png')] bg-cover bg-no-repeat;
}

#nav {
  background-color: #C85875;
}

#carta-super {
  background-color: #8493CE;
}

#carta-infer {
  
}

input {
  @apply rounded-md outline-none pl-4 pr-8 px-64 py-2;
}

select {
  background-color: #9E572D;
  @apply rounded-full outline-none px-[23px] h-[40px] w-[110px] mx-2 text-xs sm:text-base sm:w-[194px] text-white;
}

h1 {
  @apply text-4xl;
}

button {
  @apply rounded-md px-4 py-2 bg-white;
}

h3 {
  @apply flex text-[18px] text-center text-sm flex-wrap;
}

p {
  @apply rounded-xl bg-zinc-500 px-2 text-xs;
}

#filtros {
  background-color: #FFF0DE;
}